.product .stm-lists ul.elementor-icon-list-items {
  list-style: none;
}
.product .stm-lists ul.elementor-icon-list-items br {
  display: none;
}

.section-pricing h4 {
  color: #9cc14a;
  text-align: center;
  border-bottom: solid 2px #ebeaea;
  padding-bottom: 10px;
  font-size: 22px;
}
.section-pricing h3 {
  color: #9cc14a;
  text-align: center;
  font-size: 35px;
}
.section-pricing .pricing-item {
  background-color: #fff;
  box-shadow: 0 13px 35px rgba(0, 0, 0, 0.149);
  padding: 20px;
  margin: 0 0 25px;
  position: relative;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 20px;
  text-align: left;
  height: 450px;
}
.section-pricing .pricing-item {
  border: 2px solid transparent;
  padding: 30px;
  margin-bottom: 20px;
}
.section-pricing .pricing-item.active {
  border-color: #9cc14a;
}
.section-pricing .pricing-item-actions-block {
  text-align: center;
}
.section-pricing .choose-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6a6a6a;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.section-pricing .elementor-icon-list-icon i {
  color: #9cc14a;
}
.section-pricing .choose-label input {
  display: none;
}
.section-pricing .choose-label input:checked + span {
  background-color: #666;
  color: #fff;
}

.elementor-1755 {
  margin-bottom: 20px;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__separator.stm-pricing-plan__separator__title .stm-pricing-plan__separator__element {
  height: 1px;
  background: #F1F4F8;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__separator.stm-pricing-plan__separator__bottom_line .stm-pricing-plan__separator__element {
  height: 0px;
  background: #F1F4F8;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__header__badge {
  background: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__header__badge > span {
  color: #FFFFFF;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__header__badge:before {
  background: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-a12e670 .stm-pricing-plan__items__item__icon {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-a12e670 .stm-pricing-plan__items__item__icon path {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-d4c84c0 .stm-pricing-plan__items__item__icon {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-d4c84c0 .stm-pricing-plan__items__item__icon path {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-19689b0 .stm-pricing-plan__items__item__icon {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-19689b0 .stm-pricing-plan__items__item__icon path {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-259f81c .stm-pricing-plan__items__item__icon {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-259f81c .stm-pricing-plan__items__item__icon path {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-7d49fe8 .stm-pricing-plan__items__item__icon {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-repeater-item-7d49fe8 .stm-pricing-plan__items__item__icon path {
  color: #9CC14A;
  fill: #9CC14A;
  stroke: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__items {
  margin-top: 0px;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__items .stm-pricing-plan__items__item .stm-pricing-plan__items__item__text {
  text-align: left;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__header-text__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0px;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan .stm-pricing-plan__header-text__title {
  color: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan:hover .stm-pricing-plan__separator.stm-pricing-plan__separator__bottom_line .stm-pricing-plan__separator__element {
  height: 0px;
  background: #F1F4F8;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__price {
  color: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .elementor-widget-container {
  background: #FFF;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__items__item__icon {
  font-size: 20px;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__items__item__icon > i {
  width: 20px;
  font-size: 20px;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__items__item__icon > svg {
  width: 20px;
  height: 20px;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__button {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__button > a {
  color: #FFF;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__button:hover {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 .stm-pricing-plan__button:hover > a {
  color: #FFFFFF;
  background: #9CC14A;
}
.elementor-1755 .elementor-element.elementor-element-4895c2d9 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
}
.elementor-1755 .choose-label {
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  background: #6b6b6b;
  display: block;
  text-align: center;
  padding: 0 15px;
}
.elementor-1755 .stm-pricing-plan__button:hover > .choose-label {
  color: #FFFFFF;
  background: #9CC14A;
}
.elementor-1755 .choose-label input {
  display: none;
}
.elementor-1755 .choose-label input:checked + span {
  background-color: #666;
  color: #fff;
}
.elementor-1755 .pricing-item, .elementor-1755 .stm-pricing-item {
  border: 2px solid transparent;
}
.elementor-1755 .pricing-item.active, .elementor-1755 .stm-pricing-item.active {
  border-color: #9cc14a;
}

:root {
  --page-title-display: none;
}

/*# sourceMappingURL=new-style.css.map */
