.product .stm-lists {
  ul.elementor-icon-list-items {
	list-style: none;

	br {
	  display: none;
	}
  }

}


.section-pricing {
  h4 {
	color: #9cc14a;
	text-align: center;
	border-bottom: solid 2px #ebeaea;
	padding-bottom: 10px;
	font-size: 22px;
  }

  h3 {
	color: #9cc14a;
	text-align: center;
	font-size: 35px;
  }

  .pricing-item {
	background-color: #fff;
	box-shadow: 0 13px 35px rgba(0, 0, 0, .149);
	padding: 20px;
	margin: 0 0 25px;
	position: relative;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-right: 20px;
	text-align: left;
	height: 450px;
  }

  .pricing-item {
	border: 2px solid transparent;
	padding: 30px;
	margin-bottom: 20px;
  }

  .pricing-item.active {
	border-color: #9cc14a;
  }

  .pricing-item-actions-block {
	text-align: center;
  }

  .choose-label {
	display: inline-block;
	padding: 10px 20px;
	background-color: #6a6a6a;
	cursor: pointer;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
  }

  .elementor-icon-list-icon i {
	color: #9cc14a;
  }

  .choose-label input {
	display: none;
  }


  .choose-label input:checked + span {
	background-color: #666;
	color: #fff;
  }
}

.elementor-1755 {
  .elementor-element {

	&.elementor-element-4895c2d9 {
	  .stm-pricing-plan__separator {
		&.stm-pricing-plan__separator__title {
		  .stm-pricing-plan__separator__element {
			height: 1px;
			background: #F1F4F8;
		  }
		}

		&.stm-pricing-plan__separator__bottom_line {
		  .stm-pricing-plan__separator__element {
			height: 0px;
			background: #F1F4F8;
		  }
		}
	  }

	  .stm-pricing-plan__header__badge {
		background: #9CC14A;

		& > span {
		  color: #FFFFFF;
		}

		&:before {
		  background: #9CC14A;
		}
	  }

	  .elementor-repeater-item-a12e670 {
		.stm-pricing-plan__items__item__icon {
		  color: #9CC14A;
		  fill: #9CC14A;
		  stroke: #9CC14A;

		  path {
			color: #9CC14A;
			fill: #9CC14A;
			stroke: #9CC14A;
		  }
		}
	  }

	  .elementor-repeater-item-d4c84c0 {
		.stm-pricing-plan__items__item__icon {
		  color: #9CC14A;
		  fill: #9CC14A;
		  stroke: #9CC14A;

		  path {
			color: #9CC14A;
			fill: #9CC14A;
			stroke: #9CC14A;
		  }
		}
	  }

	  .elementor-repeater-item-19689b0 {
		.stm-pricing-plan__items__item__icon {
		  color: #9CC14A;
		  fill: #9CC14A;
		  stroke: #9CC14A;

		  path {
			color: #9CC14A;
			fill: #9CC14A;
			stroke: #9CC14A;
		  }
		}
	  }

	  .elementor-repeater-item-259f81c {
		.stm-pricing-plan__items__item__icon {
		  color: #9CC14A;
		  fill: #9CC14A;
		  stroke: #9CC14A;

		  path {
			color: #9CC14A;
			fill: #9CC14A;
			stroke: #9CC14A;
		  }
		}
	  }

	  .elementor-repeater-item-7d49fe8 {
		.stm-pricing-plan__items__item__icon {
		  color: #9CC14A;
		  fill: #9CC14A;
		  stroke: #9CC14A;

		  path {
			color: #9CC14A;
			fill: #9CC14A;
			stroke: #9CC14A;
		  }
		}
	  }

	  .stm-pricing-plan__items {
		margin-top: 0px;

		.stm-pricing-plan__items__item {
		  .stm-pricing-plan__items__item__text {
			text-align: left;
		  }
		}
	  }

	  .stm-pricing-plan__header-text__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 1em;
		letter-spacing: 0px;
	  }

	  .stm-pricing-plan {
		.stm-pricing-plan__header-text__title {
		  color: #9CC14A;
		}

		&:hover {
		  .stm-pricing-plan__separator {
			&.stm-pricing-plan__separator__bottom_line {
			  .stm-pricing-plan__separator__element {
				height: 0px;
				background: #F1F4F8;
			  }
			}
		  }
		}
	  }

	  .stm-pricing-plan__price {
		color: #9CC14A;
	  }

	  .elementor-widget-container {
		background: #FFF;
	  }

	  .stm-pricing-plan__items__item__icon {
		font-size: 20px;

		& > i {
		  width: 20px;
		  font-size: 20px;
		}

		& > svg {
		  width: 20px;
		  height: 20px;
		}
	  }

	  .stm-pricing-plan__button {
		border-radius: 0px 0px 0px 0px;

		& > a {
		  color: #FFF;
		}

		&:hover {
		  border-radius: 0px 0px 0px 0px;

		  & > a {
			color: #FFFFFF;
			background: #9CC14A;
		  }
		}
	  }

	  & > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 5px 0px 0px 0px;
	  }
	}

  }

  .choose-label {
	cursor: pointer;
	width: 100%;
	color: #fff;
	font-family: "Montserrat", Sans-serif;
	font-weight: 600;
	background: #6b6b6b;
	display: block;
	text-align: center;
	padding: 0 15px;
  }

  .stm-pricing-plan__button:hover > .choose-label {
	color: #FFFFFF;
	background: #9CC14A;
  }

  .choose-label input {
	display: none;
  }


  .choose-label input:checked + span {
	background-color: #666;
	color: #fff;
  }

  .pricing-item, .stm-pricing-item {
	border: 2px solid transparent;
  }

  .pricing-item.active, .stm-pricing-item.active{
	border-color: #9cc14a;
  }

  margin-bottom: 20px;


}

:root {
  --page-title-display: none;
}

